[core]
  excludesfile = ~/.gitignore
	quotepath = false
  # github korovkin:
  # sshCommand = "ssh -i ~/.ssh/id_rsa_korovkin_github -F /dev/null"
  # github: korovkintaptap
  sshCommand = "ssh -i ~/.ssh/id_rsa -F /dev/null"


[user]
  name=Haim Grosman
  email=korovkin@gmail.com
  di=diff --color-words

[alias]
  s = status
  st = status
  br = branch
  b = branch
  ci = commit -v
  hlog = log --name-status --graph
  vimdiff = difftool -y -t vimdiff
  gvimdiff = difftool -y -t gvimdiff
  vimmerge = "!git vimdiff HEAD:$1"
  gvimmerge = "!git gvimdiff HEAD:$1"
  olog = log --format=oneline
  llog = log --graph --pretty=format:'%H (%cr) %an : %d %s'
  l = log -n 10 --graph --pretty=format:'%H (%cr) %an : %d %s'

  branch-name = rev-parse --abbrev-ref HEAD
  branch-push = "!git push origin $(git branch-name)"

  br-name       = rev-parse --abbrev-ref HEAD
  br-push-main  = "!git push origin $(git br-name)"
  br-push-pr    = "!git push origin $(git br-name):refs/heads/me/korovkin/$(git br-name)"

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
